@keyframes cpmw-lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cpmw-lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.cpmw-lds-dual-ring {
    position: relative;
}

.cpmw-lds-dual-ring div {
    box-sizing: border-box;
}

.cpmw-lds-dual-ring > div {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 13px;
    left: 13px;
    border-radius: 50%;
    border: 14px solid #000;
    border-color: #0288d1 transparent #0288d1 transparent;
    -webkit-animation: cpmw-lds-dual-ring 5s linear infinite;
    animation: cpmw-lds-dual-ring 5s linear infinite;
}

.cpmw-lds-dual-ring > div:nth-child(2) {
    border-color: transparent;
}

.cpmw-lds-dual-ring > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cpmw-lds-dual-ring > div:nth-child(2) div:before,
.cpmw-lds-dual-ring > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -14px;
    left: 66px;
    background: #0288d1;
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #0288d1;
}

.cpmw-lds-dual-ring > div:nth-child(2) div:after {
    left: -14px;
    top: 66px;
    box-shadow: 160px 0 0 0 #0288d1;
}

.cpmw-lds-dual-ring {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}

.cpmw_loader {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 1rem !important;
    font-family: Arial,Helvetica,sans-serif;
    background: #edeef2;
    border-radius: 16px;
    padding: 15px;
}

.cpmw_loader > div {
    width: 100px !important;
    margin: 0 auto !important;
}

.cpmw_check {
    width: 100% !important;
    text-align: center !important;
    display: none;
}

.cpmw_check img {
    margin: 0 auto !important;
    width: 100px !important;
}

.cpmw_payment_details {
    width: 100% !important;
    text-align: center !important;
}

.cpmw_payment_details .cpmw_qrcode_wrapper {
    text-align: center !important;
    margin: 1em auto !important;
    position: relative !important;
    display: inline-block !important;
}

.cpmw_payment_details .cpmw_qrcode_wrapper img {
    display: inline-block !important;
    border: 1px #686868 solid;
    border-radius: 0.4em;
    padding: 0.2em;
    background: #fff;
}

.cpmw_payment_details .cpmw_qrcode_wrapper .cpmw_inner-wrapper {
    z-index: 3 !important;
    position: relative !important;
}

.cpmw_payment_details .cpmw_qrcode_wrapper .cpmw_branding {
    font-size: 11px;
    font-family: "roboto", sans-serif;
    color: #666;
    position: absolute;
    bottom: -15px;
    right: 0;
    background: #ddd;
    padding: 20px 5px 2px 5px;
    border-radius: 0.4em;
    z-index: 2;
    border: 1px #777 solid;
}



.cpmw_payment_details .cpmw_details_box {
    width: 100%;
   
    text-align: center;
}

.cpmw_payment_pending {
    width: 100%;
    text-align: center;
    display: none;
}

.cpmw_payment_complete {
    width: 100%;
    text-align: center;
    display: none;
}
.cpmw_order_expired {
        width: 100%;
    text-align: center;
    display: none;
}


/*payment field css*/
.cpmw-pymentfield {
    display: table-cell;
    padding: 5px;
    text-align: center;
}
.cpmw-pymentfield img {
    left: 3%;
    display: block;
    top: 3px;
}
.cpmw-pymentfield input#cpmw_payment_method,  .cpmw-pymentfield img {
    margin: 0 auto !important;
}

.cpmw_payment_details .cpmw_qrcode_wrapper span.cpmw_banner img {
    border: none !important;
    height: 35px;
}
.cpmw_payment_details .cpmw_qrcode_wrapper span.cpmw_banner {
    display: inline-flex;
}
.cpmw_payment_details .cpmw_qrcode_wrapper span.cpmw_banner h2 {
    margin-bottom: 0px;
}


/*metamask connect*/

.cmpw_meta_connect {
   display: none;
   margin-left: 30%;
    
}
.wallet-name {
    margin-left: 8%;
    font-size: 30px;
}
.cpmw_connect_btn {
    margin-left: 4%;
}
.cpmw_connect_btn button.c-btn {
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    background: #a570b7;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 20px;
    color: #fff;
}

.cmpw_meta_wrapper .container button.c-btn {
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    background: #a570b7;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 20px;
    color: #fff;
}

.cpmw_loader_wrap{
    display: none;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
}

.cmpw_meta_wrapper{
    display: none;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
}
.cmpw_meta_wrapper .container .infos:first-child {
margin-right: 30px;
}
.cmpw_meta_wrapper .container .infos {
    max-width: 200px;
    float: left;
    margin-left: 10px;
}

.cmpw_meta_wrapper .container {
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
    background: #edeef2;
    border-radius: 16px;
}

.cmpw_meta_wrapper .container .infos>div span {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
}

.cmpw_meta_wrapper .container .infos>div {
    margin-bottom: 10px;
    font-size: 14px;
}

.cmpw_meta_wrapper .container .infos>div .account-address{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.cmpw_meta_wrapper .container .disconnect-btn-wrapper, .cmpw_meta_wrapper .container .pay-btn-wrapper {
    display: flex;
    justify-content: center;
}

.cmpw_meta_wrapper .container  .cpmw-pay-wallet-icon {
    text-align: center;
    margin-bottom: 10px;
}

li.wc_payment_method.payment_method_cpmw img {
    height: 20px;
}

.cmpw_meta_wrapper .container button.c-btn [disabled="disbaled"] {
   
    background: #a570b7a8;
  
}